body {
    width: 1200px;
    font-family: Poppins;
    Background-Color: #dbdbca;
    box-sizing: border-box;
}
.desc {
    font-weight: 800;
}
.bar a{
    position: relative;
    color: black;
    font-weight: 800;
}
.backcolor{
    padding-left: 50%;
    float: left;
}
.logo {
    position: ;
    margin-top: 0;
    margin-bottom: 0;
}
.desc {
    font-weight: 900;
    font-size: 30px;
    padding-top: 0;
}
header {
    text-align: center;
}
nav {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    list-style: none;
}
.bar> .left{
    margin-top: -4%;
    float: left;
}
.bar> .right{
    margin-top: -4%;
    float: right;;
}
.right ul {
    display: inline-flex;
}
.right a{
    color: black;
}
.left ul {
    display: inline-flex;
}
.left ul li{
    width: 120px;
    color: #6CB840;
}
.right ul li{
    width: 120px;
    color: #6CB840;
}
.one {
    position:absolute;
    top: -300px;
    right: 0;
    background-color: #6CB840;
    opacity: 50%;
    font-size: large;
    text-align: center;
    font: 20px;
    font-weight: 700;
    
}
.one{
    height: 900px;
    width: 900px;
    shape-outside: ellipse(40% 50%);
    clip-path: ellipse(40% 50%);
    transform: rotate(60deg);
    z-index: -1;
}
.motto {
    width: 400px;
    position: relative;
    float: left;
    text-align: block;
    margin-left: 40px;
    margin-top: 50px;
}
.main{
    padding: 0;
    float: left;
    text-align: center;
    color: #6CB840;
    font-size: 30px;
    font-weight: 700;
}
.button {
    background-color:#6CB840;
    border: none;
    border-radius: 45%;
    color: rgb(253, 250, 250);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 800;
    margin: 8px 2px;
}
.dish {
    position: initial;
    width: 120px;
    height: 120px;
}
.about {
    background-color: #FFFFFF;
    background-position: 10px;
    height:400px;
    width: 1200px;
    margin: 10px;
    padding: 30px;

    display: flex;
}
.text{
    margin-left: 50px;
    margin-top: 30px;
    width: 40%;
    text-align: center;
}
.text> h2 {
    font-size: 40px;
    margin-top: 80px;
    text-align: center;
    color: #EAAB1B;
}
.text> p{
    text-align: center;
    margin-left: 30px;
    padding-left: 40px;
    width: 65%;
}
.hot {
    background-color: rgb(190, 232, 233);
    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.burger> img{
    position: absolute;
    margin: 20px;
    margin-top: 30px;
    z-index: +1;
    
}
.burger >div {
    position: relative;
    background-color: white;
    border-bottom-right-radius: 30%;
    font-size: 15px;
    height: 120px;
    width: 300px;
    margin-left: 100px;
    padding: 0;
}
.white> h3{
    text-align: left;
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: -25px;
}
.white{
    text-align: center;
}
.white> p{
    font-size: 12px;
    margin-top: 25px;
}
.deal{
    height: 900px;
    width: 100%;
    background-color: #C9ECB5;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.combo{
    position: absolute;
}
.juice> img{
    height: 600px;
    width: 400px;
    margin-top: -60px;
    position: relative;
    float: left;
}
.bagga{
    margin-top: 210px;
    position: absolute;
    z-index: +1;
    margin-left: 80px;
}
.bagga> img{
    height: 350px;
    width: 450px;
}
.cake{
    margin-top: 150px;
    width: 50%;
    text-align: center;
    margin-left: 500px;
}
.cake> h2{
    margin-left: 10px;
    color: #6CB840;
    font-size: 35px;
}
.cake> h3{
    margin-left: 45px;
    font-size: 30px;
    text-align: left;
}
.contact{
    position: relative;
    margin-top: 500px;
    height: 500px;
    width: 100%;
    background-color: #FFD77C;
}
.contact> button{
    background-color:#6CB840;
    border: none;
    border-radius: 45%;
    color: rgb(253, 250, 250);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 800;
}
footer{
    background-color: #C9ECB5;
    text-align: left;
    height: 300px;
    width: 100%;
    margin-top: 40px;
    padding-top: 20px;
    
}
.starter {
    float: left;
    padding: 40px;
}

.address {
    margin-top: 60px;
    padding: 60px;
    float: left;;
}
.sign{
    padding: 50px;
    float: right;
}