body {
    font-family: Poppins;
    Background-Color: #afafae;
    box-sizing: border-box;
}
.backcolor{
    padding-left: 50%;
    float: left;
}
.logo {
    margin-top: 0;
    margin-bottom: 0;
}
.desc {
    font-weight: 900;
    font-size: 30px;
    padding-top: 0;
}
header {
    text-align: center;
}
nav {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    list-style: none;
}
.bar> .left{
    margin-top: -4%;
    float: left;
}
.bar> .right{
    margin-top: -4%;
    float: right;;
}
.right ul {
    display: inline-flex;
}
.left ul {
    display: inline-flex;
}
.left ul li{
    width: 120px;
    color: #6CB840;
}
.right ul li{
    width: 120px;
    color: #6CB840;
}
.one {
    position:relative;
    float: right;
    background-color: #6CB840;
    font-size: large;
    text-align: center;
    font: 20px;
    font-weight: 700;
    
}
.one{
    height: 800px;
    width: 800px;
    border-radius: 50%;
}
